/* GetSTDtested.com */
/* STD Tests Widget */
/* 2012 */


/* Elements */

body {
	margin: 0;
	padding: 0;
	color: #666;
	font-family: arial, tahoma, helvetica, verdana, sans-serif;
	font-size: 12px;
	line-height: 18px;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}


/* Body */

#wrap {
	width: 232px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}


/* Content */

h1, h2, h3, h4 {
	color: #023a4c;
	font-family: helvetica, arial, tahoma, verdana, sans-serif;
	font-weight: bold;
}
h1 { font-size: 28px; line-height: 36px; padding: 10px 15px 6px 15px; }
h2 {	font-size: 20px; line-height: 28px; padding: 10px 15px 5px 15px; }
h3 {	color: #E77640; font-size: 14px; line-height: 20px; padding: 8px 15px 4px 15px; }
h4 {	font-size: 13px; line-height: 19px; padding: 8px 15px 2px 15px; }

h1.home {
	padding: 4px 5px 0 15px;
	color: #023a4c;
	font-family: helvetica, arial, tahoma, verdana, sans-serif;
	font-weight: bold;
	font-size: 28px;
	line-height: 32px;
}

h2.home {
	padding: 10px 5px 0 15px;
	color: #e77640;
	font-family: helvetica, arial, tahoma, verdana, sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
}

h3.home {
	padding: 0 5px 6px 15px;
	color: #023a4c;
	font-family: helvetica, arial, tahoma, verdana, sans-serif;
	font-weight: bold;
	font-size: 15px;
	line-height: 21px;
}

p {
	margin: 0;
	padding: 4px 15px 8px 15px;
}

a {
	color: #0b6d91;
	text-decoration: underline;
}

a:hover {
	color: #0b6d91;
	text-decoration: underline;
}

a:active, a:focus {
	outline: none;
}

ul {
	margin: 0;
	padding: 10px 15px 12px 40px;
	list-style-type: disc;
	list-style-image: none;
}

li {
	padding: 0 0 6px 0;
}

small {
	font-size: 11px;
}

strong {
	/*color: #e57133;*/
}

#b-orange, #b-orange2 {
	float: left;
	width: 162px;
	height: 42px;
	margin: 0 0 0 6px;
	padding: 0;
	color: #fff;
	font-size: 15px;
	line-height: 42px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 1px #de3b12;
	background: transparent url(../images/b-orange.jpg) center top no-repeat;
}
#b-orange-home {
	width: 162px;
	height: 42px;
	margin: 0 auto;
	padding: 0;
	color: #fff;
	font-size: 15px;
	line-height: 42px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 1px #de3b12;
	background: transparent url(../images/b-orange.jpg) center top no-repeat;
}
#b-orange span, #b-orange2 span, #b-orange-home span { color: #fcd8c4; }
#b-orange a, #b-orange a:hover, #b-orange2 a, #b-orange2 a:hover, #b-orange-home a, #b-orange-home a:hover { color: #fff; text-decoration: none; }

a#b-blue {
	float: right;
	width: 144px;
	height: 42px;
	margin: 0 6px 0 0;
	padding: 0;
	color: #fff;
	font-size: 15px;
	line-height: 42px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 1px #001f2e;
	text-decoration: none;
	background: transparent url(../images/b-blue.jpg) center top no-repeat;
}


/* STD Tests > Complete Pack */

#tests-complete-pack {
	margin: 0 0 10px 0;
}

#tests-complete-pack #tests-header {
	width: 232px;
	height: 66px;
	padding: 0;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	text-shadow: 0 1px #de3b12;
	text-indent: -9999px;
	background: #ee763a url(../images/tests-complete.jpg) center -1px no-repeat;
	border-radius: 6px 6px 0 0;
}

#tests-complete-pack #tests-header span {
	color: #fff;
	font-size: 33px;
	line-height: 30px;
	font-weight: bold;
}

#tests-complete-pack #tests-content {
	margin: 0;
	background: #f5f7f6;
	border-left: 1px solid #d5d5d5;
	border-right: 1px solid #d5d5d5;
}

#tests-complete-pack #tests-content ul {
	margin: 0;
	padding: 14px 3px 12px 11px;
	list-style-type: none;
	list-style-image: none;
}

#tests-complete-pack #tests-content li {
	padding: 0 0 6px 17px;
	color: #005f7e;
	font-size: 13px;
	text-shadow: 1px 1px #fff;
	background: transparent url(../images/checkmark.gif) left 2px no-repeat;
}

#tests-complete-pack #tests-footer {
	margin: 0;
	text-shadow: 1px 1px #fff;
	border-left: 1px solid #d5d5d5;
	border-right: 1px solid #d5d5d5;
	border-bottom: 1px solid #d5d5d5;
	border-radius: 0 0 5px 5px;
	background: #d3d3d3;
}

#tests-complete-pack #tests-footer #expert_package {
	float: left;
	margin: 20px 0 0 35px;
}

#tests-complete-pack #tests-footer a#b-add-to-cart {
	float: right;
	width: 145px;
	height: 33px;
	margin: 10px 25px 0 0;
	padding: 0;
	color: #fff;
	font-size: 14px;
	line-height: 33px;
	font-weight: bold;
	text-indent: 46px;
	text-shadow: 0 1px #de3b12;
	text-decoration: none;
	background: transparent url(../images/b-add-to-cart.jpg) left top no-repeat;
}

#tests-complete-pack #tests-footer #tests-savings {
	clear: both;
	padding: 8px 0 10px 0;
	color: #003446;
	font-family: georgia, arial, tahoma, helvetica, verdana, sans-serif;
	font-style: italic;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
}


/* STD Tests > Individual Tests */

#tests-individual {
	margin: 12px 0 20px 0;
}

#tests-individual #tests-header {
	width: 232px;
	height: 66px;
	padding: 0;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	text-shadow: 0 1px #013040;
	text-indent: -9999px;
	background: #024359 url(../images/tests-individual.jpg) center -1px no-repeat;
	border-radius: 6px 6px 0 0;
}

#tests-individual #tests-header span {
	color: #fff;
	font-size: 33px;
	line-height: 30px;
	font-weight: bold;
}

#tests-individual #tests-content {
	margin: 0;
	padding: 12px 0 6px 0;
	background: #f5f7f6;
	border-left: 1px solid #d5d5d5;
	border-right: 1px solid #d5d5d5;
}

#tests-individual #tests-content ul {
	margin: 0;
	padding: 0 2px 0 25px;
	list-style-type: none;
	list-style-image: none;
}

#tests-individual #tests-content li {
	float: left;
	display: block;
	width: 170px;
	padding: 0 0 8px 0;
	color: #5c5c5c;
	font-size: 13px;
	line-height: 18px;
	text-shadow: 1px 1px #fff;
}

#tests-individual #tests-content ul li input {
	margin: 0 8px 0 0;
	padding: 0;
}

#tests-individual #tests-content ul li.price {
	float: right;
	width: 60px;
	color: #e75716;
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
}

#tests-individual #tests-footer {
	margin: 0;
	padding: 6px 0 7px 0;
	text-shadow: 1px 1px #fff;
	border-radius: 0 0 5px 5px;
	background: #d3d3d3;
}

#tests-individual #tests-footer a#b-add-to-cart {
	clear: both;
	display: block;
	width: 145px;
	height: 33px;
	margin: 0 auto;
	text-indent: 44px;
	color: #fff;
	font-size: 14px;
	line-height: 33px;
	font-weight: bold;
	text-shadow: 0 1px #de3b12;
	text-decoration: none;
	background: transparent url(../images/b-add-to-cart.jpg) left top no-repeat;
}


/* Toolbox */

.aleft { text-align: left; }
.acenter { text-align: center; }
.aright { text-align: right; }

.fleft { float: left; }
.fright { float: right; }

.cboth { clear: both; }
.cleft { clear: left; }
.cright { clear: right; }

