<?xml version="1.0"?>
<config>
    <modules>
        <Jag_Pricing>
            <version>0.1.3</version>
        </Jag_Pricing>
    </modules>
    <frontend>
        <routers>
            <pricing>
                <use>standard</use>
                <args>
                    <module>Jag_Pricing</module>
                    <frontName>pricing</frontName>
                </args>
            </pricing>
        </routers>
        <layout>
            <updates>
                <pricing>
                    <file>pricing.xml</file>
                </pricing>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <pricing>
                <class>Jag_Pricing_Model</class>
                <resourceModel>pricing_mysql4</resourceModel>
            </pricing>
            <pricing_mysql4>
                <class>Jag_Pricing_Model_Mysql4</class>
                <entities>
                    <pricing>
                        <table>pricing</table>
                    </pricing>
                    <nnr>
                        <table>pricing_nnr</table>
                    </nnr>
                </entities>
            </pricing_mysql4>
        </models>
        <resources>
            <pricing_setup>
                <setup>
                    <module>Jag_Pricing</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pricing_setup>
            <pricing_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pricing_write>
            <pricing_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pricing_read>
        </resources>
        <blocks>
            <pricing>
                <class>Jag_Pricing_Block</class>
            </pricing>
        </blocks>
        <helpers>
            <pricing>
                <class>Jag_Pricing_Helper</class>
            </pricing>
        </helpers>
    </global>
</config>