<?xml version="1.0"?>
<config>
    <modules>
        <Jag_Prescriptions>
            <version>0.1.6</version>
        </Jag_Prescriptions>
    </modules>
    <frontend>
        <routers>
            <prescriptions>
                <use>standard</use>
                <args>
                    <module>Jag_Prescriptions</module>
                    <frontName>prescriptions</frontName>
                </args>
            </prescriptions>
        </routers>
        <layout>
            <updates>
                <prescriptions>
                    <file>prescriptions.xml</file>
                </prescriptions>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<prescriptions>
				<use>admin</use>
				<args>
					<module>Jag_Prescriptions</module>
					<frontName>prescriptions</frontName>
				</args>
			</prescriptions>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<prescriptions>
					<file>prescriptions.xml</file>
				</prescriptions>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <prescriptions>
                <class>Jag_Prescriptions_Model</class>
                <resourceModel>prescriptions_mysql4</resourceModel>
            </prescriptions>
            <prescriptions_mysql4>
                <class>Jag_Prescriptions_Model_Mysql4</class>
                <entities>
                    <prescriptions>
                        <table>prescriptions</table>
                    </prescriptions>
                </entities>
            </prescriptions_mysql4>
        </models>
         <events>
      		<checkout_onepage_controller_success_action>
        		<observers>
          		<jag_prescriptions_observer>
            		<type>singleton</type>
            		<class>Jag_Prescriptions_Model_Observer</class>
            		<method>createOrder</method>
          		</jag_prescriptions_observer>
        		</observers>
      		</checkout_onepage_controller_success_action>
      	</events>
        <resources>
            <prescriptions_setup>
                <setup>
                    <module>Jag_Prescriptions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </prescriptions_setup>
            <prescriptions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </prescriptions_write>
            <prescriptions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </prescriptions_read>
        </resources>
        <blocks>
            <prescriptions>
                <class>Jag_Prescriptions_Block</class>
            </prescriptions>
        </blocks>
        <helpers>
            <prescriptions>
                <class>Jag_Prescriptions_Helper</class>
            </prescriptions>
        </helpers>
    </global>

    <default>
        <prescription>
            <sku>script</sku>
        </prescription>
    </default>
</config>