<?xml version="1.0"?>
<config>
    <modules>
        <Jag_Callcenter>
            <version>0.1.0</version>
        </Jag_Callcenter>
    </modules>
    <frontend>
        <routers>
            <callcenter>
                <use>standard</use>
                <args>
                    <module>Jag_Callcenter</module>
                    <frontName>callcenter</frontName>
                </args>
            </callcenter>
        </routers>
        <layout>
            <updates>
                <callcenter>
                    <file>callcenter.xml</file>
                </callcenter>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<callcenter>
				<use>admin</use>
				<args>
					<module>Jag_Callcenter</module>
					<frontName>callcenter</frontName>
				</args>
			</callcenter>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<callcenter module="callcenter">
				<title>Callcenter</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="callcenter">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>callcenter/adminhtml_callcenter</action>
					</items>
				</children>
			</callcenter>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Jag_Callcenter>
							<title>Callcenter Module</title>
							<sort_order>10</sort_order>
						</Jag_Callcenter>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<callcenter>
					<file>callcenter.xml</file>
				</callcenter>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <callcenter>
                <class>Jag_Callcenter_Model</class>
                <resourceModel>callcenter_mysql4</resourceModel>
            </callcenter>
            <callcenter_mysql4>
                <class>Jag_Callcenter_Model_Mysql4</class>
                <entities>
                    <callcenter>
                        <table>callcenter</table>
                    </callcenter>
                </entities>
            </callcenter_mysql4>
        </models>
        <resources>
            <callcenter_setup>
                <setup>
                    <module>Jag_Callcenter</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </callcenter_setup>
            <callcenter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </callcenter_write>
            <callcenter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </callcenter_read>
        </resources>
        <blocks>
            <callcenter>
                <class>Jag_Callcenter_Block</class>
            </callcenter>
        </blocks>
        <helpers>
            <callcenter>
                <class>Jag_Callcenter_Helper</class>
            </callcenter>
        </helpers>
    </global>
</config>