
<p>Greetings {{var customer.name}},</p>
<p>Your prescription order has been placed by our in-house physician network at the pharmacy you've selected. Please call the pharmacy directly to verify when the prescription will be available for pick-up. Some pharmacies fill prescriptions in just a few minutes, while other pharmacies can take many hours.</p>
<p><b>Questions?</b><br>
We're at your service.  Call us at <b>866-749-6269</b> or e-mail <a href="mailto:support@getlabtested.net?subject=order-help">support@getlabtested.net</a>. Please do not respond directly to this e-mail.</p>
<p>Best wishes,<br>
The Pinpoint MD Team</p>