<p>{{var customer.name}},</p>
<p>Thanks for placing an order on our <a href="http://getstdtested.com">website</a>, a PinpointMD company.  To continue with the testing process, activate your order.</p>
<p>To activate your order, <a href="http://getstdtested.com/api/activate.php?x={{var inc}}">CLICK HERE</a>.</p>
<p>After activation, you’ll receive final testing instructions.  Results will be available in 3-5 business days.</p>
<p><b>Questions?</b><br>
We're at your service.  Call us at <b>866-749-6269</b> or e-mail <a href="mailto:support@getlabtested.net?subject=order-help">support@getlabtested.net</a>. Please do not respond directly to this e-mail.</p>
<p>Best wishes,<br>
The Pinpoint MD Team</p>
