
<p>Greetings {{var customer.name}},</p>
<p>Your prescription order has been placed.  Within 24 hours, you'll receive e-mail notification that your medication has been called into the local pharmacy selected at checkout.</p>
<p>In the meantime, please holler with questions - we're here to help.</p>
<p><b>Questions?</b><br>
We're at your service.  Call us at <b>866-749-6269</b> or e-mail <a href="mailto:support@getlabtested.net?subject=order-help">support@getlabtested.net</a>. Please do not respond directly to this e-mail.</p>
<p>Best wishes,<br>
The Pinpoint MD Team</p>
