
<p>Greetings {{var customer.name}},</p>
<p>You have ordered a doctor consultation visit. In order to schedule your consultation, please call the following number:</p>
<ul>
    <li>{{var doc_consult_phone_number}}</li>
</ul>

<p><b>Questions?</b><br>
We're at your service.  Call us at <b>866-749-6269</b> or e-mail <a href="mailto:support@getlabtested.net?subject=order-help">support@getlabtested.net</a>. Please do not respond directly to this e-mail.</p>
<p>Best wishes,<br>
The Pinpoint MD Team</p>