
<p>Greetings {{var customer.name}},</p>
<p>You have ordered the following test:</p>
<ul>
    <li>{{var product_name}}</li>
</ul>

<p>It is recommended that you get tested again in {{var followup_period_days}} days. We will follow up with an email to remind you when the time comes. Thank you for choosing GetLabtested for your health needs.</p>

<p><b>Questions?</b><br>
We're at your service.  Call us at <b>866-749-6269</b> or e-mail <a href="mailto:support@getlabtested.net?subject=order-help">support@getlabtested.net</a>. Please do not respond directly to this e-mail.</p>
<p>Best wishes,<br>
The Pinpoint MD Team</p>

<p>To unsubscribe from emails, click this link: <a href="{{var opt_out_link}}">Unsubscribe Me</a></p>