
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /stdtesting/

RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /stdtesting/index.php [L]

</IfModule>
