<?xml version="1.0"?>
<config>
    <modules>
        <Jag_Customroute>
            <version>0.1.0</version>
        </Jag_Customroute>
    </modules>
    <frontend>
        <routers>
            <customroute>
                <use>standard</use>
                <args>
                    <module>Jag_Customroute</module>
                    <frontName>customroute</frontName>
                </args>
            </customroute>
        </routers>
    </frontend>  
    <global>
        <helpers>
            <customroute>
                <class>Jag_Customroute_Helper</class>
            </customroute>
        </helpers>
    	<routers>
            <cms>
                <rewrite>
                    <index>
                        <to>Jag_Customroute/index</to>
                        <override_actions>true</override_actions>
                        <actions>
                           <noroute><to>Jag_Customroute/index/noroute</to></noroute>
                        </actions>
                    </index>
                </rewrite>
            </cms>
        </routers>
    </global>
</config>