<?xml version="1.0"?>
<config>
    <modules>
        <PPMD_Credentials>
            <version>0.0.1</version>
        </PPMD_Credentials>
    </modules>

    <global>
        <blocks>
            <!-- Commented out until blocks are actually needed to improve performance
            <ppmd_credentials>
                <class>PPMD_Credentials_Block</class>
            </ppmd_credentials>
            -->
        </blocks>
        <models>
            <ppmd_credentials>
                <class>PPMD_Credentials_Model</class>
            </ppmd_credentials>
        </models>
        <helpers>
            <ppmd_credentials>
                <class>PPMD_Credentials_Helper</class>
            </ppmd_credentials>
        </helpers>
    </global>

    <default>
        <ppmd_credentials>
            <pap>
                <default>
                    <store_code>getstdtested</store_code>
                </default>
                <getstdtested>
                    <username>kknohl@dtcmd.com</username>
                    <password>partners4PPMD</password>
                    <account_id>pap_x2s6df8d</account_id>
                    <server>
                        <url>http://partners.getstdtested.com/scripts/server.php</url>
                    </server>
                    <sale>
                        <url>http://partners.getstdtested.com/scripts/sale.php</url>
                    </sale>
                </getstdtested>
                <getlabtested>
                    <username>kknohl@dtcmd.com</username>
                    <password>partners4PPMD</password>
                    <account_id>pap_x2s6df8d</account_id>
                    <server>
                        <url>http://partners.getlabtested.com/scripts/server.php</url>
                    </server>
                    <sale>
                        <url>http://partners.getlabtested.com/scripts/sale.php</url>
                    </sale>
                </getlabtested>
            </pap>
        </ppmd_credentials>
    </default>
</config>