<?xml version="1.0"?>
<config>
    <modules>
        <Jag_Reporting>
            <version>0.1.1</version>
        </Jag_Reporting>
    </modules>
    <frontend>
        <routers>
            <reporting>
                <use>standard</use>
                <args>
                    <module>Jag_Reporting</module>
                    <frontName>reporting</frontName>
                </args>
            </reporting>
        </routers>
        <layout>
            <updates>
                <reporting>
                    <file>reporting.xml</file>
                </reporting>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<reporting>
				<use>admin</use>
				<args>
					<module>Jag_Reporting</module>
					<frontName>reporting</frontName>
				</args>
			</reporting>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<reporting>
					<file>reporting.xml</file>
				</reporting>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <reporting>
                <class>Jag_Reporting_Model</class>
                <resourceModel>reporting_mysql4</resourceModel>
            </reporting>
            <reporting_mysql4>
                <class>Jag_Reporting_Model_Mysql4</class>
                <entities>
                    <reporting>
                        <table>reporting</table>
                    </reporting>
                </entities>
            </reporting_mysql4>
        </models>
        <resources>
            <reporting_setup>
                <setup>
                    <module>Jag_Reporting</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </reporting_setup>
            <reporting_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </reporting_write>
            <reporting_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </reporting_read>
        </resources>
        <blocks>
            <reporting>
                <class>Jag_Reporting_Block</class>
            </reporting>
        </blocks>
        <helpers>
            <reporting>
                <class>Jag_Reporting_Helper</class>
            </reporting>
        </helpers>
    </global>
</config>