<?xml version="1.0"?>
<config>
    <modules>
        <Jag_Orderwidget>
            <version>0.1.0</version>
        </Jag_Orderwidget>
    </modules>
    <frontend>
        <routers>
            <orderwidget>
                <use>standard</use>
                <args>
                    <module>Jag_Orderwidget</module>
                    <frontName>orderwidget</frontName>
                </args>
            </orderwidget>
        </routers>
        <layout>
            <updates>
                <orderwidget>
                    <file>orderwidget.xml</file>
                </orderwidget>
            </updates>
        </layout>
    </frontend>  
    <global>
        <blocks>
            <orderwidget>
                <class>Jag_Orderwidget_Block</class>
            </orderwidget>
        </blocks>
        <helpers>
            <orderwidget>
                <class>Jag_Orderwidget_Helper</class>
            </orderwidget>
        </helpers>
    </global>
</config>