<?xml version="1.0"?>
<config>
    <modules>
        <Jag_Tests>
            <version>0.1.1</version>
        </Jag_Tests>
    </modules>
    <frontend>
        <routers>
            <tests>
                <use>standard</use>
                <args>
                    <module>Jag_Tests</module>
                    <frontName>tests</frontName>
                </args>
            </tests>
        </routers>
        <layout>
            <updates>
                <tests>
                    <file>tests.xml</file>
                </tests>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<tests>
				<use>admin</use>
				<args>
					<module>Jag_Tests</module>
					<frontName>tests</frontName>
				</args>
			</tests>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<tests>
					<file>tests.xml</file>
				</tests>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <tests>
                <class>Jag_Tests_Model</class>
                <resourceModel>tests_mysql4</resourceModel>
            </tests>
            <tests_mysql4>
                <class>Jag_Tests_Model_Mysql4</class>
                <entities>
                    <tests>
                        <table>tests</table>
                    </tests>
                </entities>
            </tests_mysql4>
        </models>
        <resources>
            <tests_setup>
                <setup>
                    <module>Jag_Tests</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tests_setup>
            <tests_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tests_write>
            <tests_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tests_read>
        </resources>
        <blocks>
            <tests>
                <class>Jag_Tests_Block</class>
            </tests>
        </blocks>
        <helpers>
            <tests>
                <class>Jag_Tests_Helper</class>
            </tests>
        </helpers>
    </global>
</config>