<?xml version="1.0"?>
<config>
    <modules>
        <Jag_Template>
            <version>0.1.0</version>
        </Jag_Template>
    </modules>
    <frontend>
        <routers>
            <template>
                <use>standard</use>
                <args>
                    <module>Jag_Template</module>
                    <frontName>template</frontName>
                </args>
            </template>
        </routers>
        <layout>
            <updates>
                <template>
                    <file>template.xml</file>
                </template>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<template>
				<use>admin</use>
				<args>
					<module>Jag_Template</module>
					<frontName>template</frontName>
				</args>
			</template>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<template module="template">
				<title>Templates</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="template">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>template/adminhtml_template</action>
					</items>
				</children>
			</template>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Jag_Template>
							<title>Template Module</title>
							<sort_order>10</sort_order>
						</Jag_Template>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<template>
					<file>template.xml</file>
				</template>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <template>
                <class>Jag_Template_Model</class>
                <resourceModel>template_mysql4</resourceModel>
            </template>
            <template_mysql4>
                <class>Jag_Template_Model_Mysql4</class>
                <entities>
                    <template>
                        <table>template</table>
                    </template>
                </entities>
            </template_mysql4>
        </models>
        <resources>
            <template_setup>
                <setup>
                    <module>Jag_Template</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </template_setup>
            <template_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </template_write>
            <template_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </template_read>
        </resources>
        <blocks>
            <template>
                <class>Jag_Template_Block</class>
            </template>
        </blocks>
        <helpers>
            <template>
                <class>Jag_Template_Helper</class>
            </template>
        </helpers>
    </global>
</config>