<?xml version="1.0"?>
<config>
    <modules>
        <Jag_Localepage>
            <version>0.1.4</version>
        </Jag_Localepage>
    </modules>
    <frontend>
        <routers>
            <localepage>
                <use>standard</use>
                <args>
                    <module>Jag_Localepage</module>
                    <frontName>localepage</frontName>
                </args>
            </localepage>
        </routers>
        <layout>
            <updates>
                <localepage>
                    <file>localepage.xml</file>
                </localepage>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<localepage>
				<use>admin</use>
				<args>
					<module>Jag_Localepage</module>
					<frontName>adminlocalepage</frontName>
				</args>
			</localepage>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<localepage module="localepage">
				<title>Localepage</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="localepage">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>localepage/adminhtml_localepage</action>
					</items>
				</children>
			</localepage>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<localepage>
							<title>Localepage Module</title>
							<sort_order>10</sort_order>
						</localepage>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<localepage>
					<file>localepage.xml</file>
				</localepage>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <localepage>
                <class>Jag_Localepage_Model</class>
                <resourceModel>localepage_mysql4</resourceModel>
            </localepage>
            <localepage_mysql4>
                <class>Jag_Localepage_Model_Mysql4</class>
                <entities>
                    <localepage>
                        <table>localepage</table>
                    </localepage>
                    <dynamic>
                        <table>localepage_dynamic</table>
                    </dynamic>
                    <nnr>
                        <table>localepage_nnr</table>
                    </nnr>
                </entities>
            </localepage_mysql4>
        </models>
        <resources>
            <localepage_setup>
                <setup>
                    <module>Jag_Localepage</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </localepage_setup>
            <localepage_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </localepage_write>
            <localepage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </localepage_read>
        </resources>
        <blocks>
            <localepage>
                <class>Jag_Localepage_Block</class>
            </localepage>
        </blocks>
        <helpers>
            <localepage>
                <class>Jag_Localepage_Helper</class>
            </localepage>
        </helpers>
    </global>
</config>