<?xml version="1.0"?>
<config>
    <modules>
        <Jag_Notes>
            <version>0.1.0</version>
        </Jag_Notes>
    </modules>
    <frontend>
        <routers>
            <notes>
                <use>standard</use>
                <args>
                    <module>Jag_Notes</module>
                    <frontName>notes</frontName>
                </args>
            </notes>
        </routers>
        <layout>
            <updates>
                <notes>
                    <file>notes.xml</file>
                </notes>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<notes>
				<use>admin</use>
				<args>
					<module>Jag_Notes</module>
					<frontName>notes</frontName>
				</args>
			</notes>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<notes>
					<file>notes.xml</file>
				</notes>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <notes>
                <class>Jag_Notes_Model</class>
                <resourceModel>notes_mysql4</resourceModel>
            </notes>
            <notes_mysql4>
                <class>Jag_Notes_Model_Mysql4</class>
                <entities>
                    <notes>
                        <table>notes</table>
                    </notes>
                </entities>
            </notes_mysql4>
        </models>
        <resources>
            <notes_setup>
                <setup>
                    <module>Jag_Notes</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </notes_setup>
            <notes_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </notes_write>
            <notes_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </notes_read>
        </resources>
        <blocks>
            <notes>
                <class>Jag_Notes_Block</class>
            </notes>
        </blocks>
        <helpers>
            <notes>
                <class>Jag_Notes_Helper</class>
            </notes>
        </helpers>
    </global>
</config>