<?xml version="1.0"?>
<config>
    <modules>
        <Jag_Consultation>
            <version>0.1.1</version>
        </Jag_Consultation>
    </modules>
    <frontend>
        <routers>
            <consultation>
                <use>standard</use>
                <args>
                    <module>Jag_Consultation</module>
                    <frontName>consultation</frontName>
                </args>
            </consultation>
        </routers>
        <layout>
            <updates>
                <consultation>
                    <file>consultation.xml</file>
                </consultation>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<consultation>
				<use>admin</use>
				<args>
					<module>Jag_Consultation</module>
					<frontName>consultation</frontName>
				</args>
			</consultation>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<consultation>
					<file>consultation.xml</file>
				</consultation>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <consultation>
                <class>Jag_Consultation_Model</class>
                <resourceModel>consultation_mysql4</resourceModel>
            </consultation>
            <consultation_mysql4>
                <class>Jag_Consultation_Model_Mysql4</class>
                <entities>
                    <consultation>
                        <table>consultation</table>
                    </consultation>
                </entities>
            </consultation_mysql4>
        </models>
        <resources>
            <consultation_setup>
                <setup>
                    <module>Jag_Consultation</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </consultation_setup>
            <consultation_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </consultation_write>
            <consultation_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </consultation_read>
        </resources>
        <blocks>
            <consultation>
                <class>Jag_Consultation_Block</class>
            </consultation>
        </blocks>
        <helpers>
            <consultation>
                <class>Jag_Consultation_Helper</class>
            </consultation>
        </helpers>
    </global>
</config>